@import url('https://fonts.googleapis.com/css?family=Nunito');

.App{
  background-image: url(sunnybackground.png);
  background-repeat: no-repeat;
  background-position: top;
  width: 360px;
  height: 800px;
  border: solid blue;
  border-width: thin;
  overflow:hidden;
  display:block;
  box-sizing: border-box;
  margin: 0;
  max-width: 500px;
  margin: auto;
  position: relative;
  font-family: 'Nunito';
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.TBtn{
  position: absolute;
  width: 24px;
  height: 24px;
  left: 224px;
  top: 349px;


}
.LineH{
  position: absolute;
  width: 178px;
  height: 0px;
   left: 142px;
   top: 278.5px;

  border: 0.1px solid #8E8383;
}
.Line{
  position: absolute;
  width: 129px;
  height: 0;
  left: 167.5px;
  top: 281.5px;

  border: 0.1px solid #8E8383;
  transform: rotate(-90deg);
}
.ImageButton{
  position: absolute;
  left: 39px;
  top: 209px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 150px;
}
.MoistT{
  position: absolute;
  width: 77px;
  height: 18px;
  left: 244px;
  top: 285px;

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.025em;

  color: #000000;

  opacity: 0.7;
}
.Moist{
  position: absolute;
  width: 32px;
  height: 27px;
  left: 264px;
  top: 311px;

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.075em;

  color: #000000;

}
.Soil{
  position: absolute;
  width: 32px;
  height: 27px;
  left: 170px;
  top: 311px;

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.075em;

  color: #000000;
}
.SoilT{
  position: absolute;
  width: 84px;
  height: 18px;
  left: 142px;
  top: 285px;

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.025em;

  color: #000000;

  opacity: 0.7;
}
.WindT{
  position: absolute;
  width: 70px;
  height: 18px;
  left: 245px;
  top: 217px;

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.025em;

  color: #000000;

opacity: 0.7;
}
.Wind{
  position: absolute;
  width: 12px;
  height: 27px;
  left: 273px;
  top: 238px;

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.075em;

  color: #000000;

}
.RainT{
  position: absolute;
  width: 56px;
  height: 11px;
  left: 164px;
  top: 217px;

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.025em;

  color: #000000;

  opacity: 0.7;
}
.Rain{
  position: absolute;
  width: 12px;
  height: 27px;
  left: 181px;
  top: 239px;

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.075em;

  color: #000000;
}
.NTmp{
  position: absolute;
  width: 60px;
  height: 26px;
  left: 60px;
  top: 329px;

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.075em;

  color: #000000;
}
.Tmp{
  position: absolute;
  width: 76px;
  height: 28px;
  left: 46px;
  top: 303px;

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.075em;

  color: #000000;
}
.btn {
  position: absolute;
  width: 322px;
  height: 169px;
  left: 19px;
  top: 197px;

  background: #C4C4C4;
  mix-blend-mode: hard-light;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
}

.location{
  position: absolute;
  width: 181px;
  height: 20px;
  left: 105px;
  top: 32px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.075em;

  color: #000000;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.locationIcon {
  position: absolute;
  width: 19px;
  height: 19px;
  left: 76px;
  top: 32px;

}

.locTBtn{
  position: absolute;
  width: 19px;
  height: 18px;
  right: 44px;
  top: 33px;

}

.thisWeek {
  position: absolute;
  width: 92px;
  height: 20px;
  left: 86px;
  top: 89px;

  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.075em;
  border-bottom: 2px solid black;
  border-radius: 1.5px;
  
}

.threeWeek {
  position: absolute;
  width: 75px;
  height: 20px;
  left: 199px;
  top: 89px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.075em;
}

.appLine{
  position: absolute;
  width: 15px;
  height: 0px;
  left: 180px;
  top: 98px;
  
  border: 0.1px solid #000000;
  transform: rotate(-90deg);
}

.logo{
  position: absolute;
  left: 80px;
  top: 150px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}

.tW{
  position: absolute;
  width: 151px;
  height: 35px;
  left: 118px;
  top: 150px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.045em;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.todayTime{
  position: absolute;
  width: 192px;
  height: 28px;
  left: 98px;
  top: 171px;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.045em;

}

.menu{
  position: absolute;
  width: 24px;
  height: 24px;
  left: 22px;
  top: 29px;
}
