body{
  background-image: url(sunnybackground.png);
  background-repeat: no-repeat;
  background-position: top;
  width: 360px;
  height: 800px;
  border: solid blue;
  border-width: thin;
  overflow:hidden;
  display:block;
  box-sizing: border-box;
  margin: 0;
  max-width: 500px;
  margin: auto;
}

